{% extends 'base.html' %}


{% block content %}

<div class="card">
    {% load static %}
    <div class="card-body">
      <h5 class="card-title">درباره پرسشنامه</h5>
      <p class="card-text">آیا تابه حال شنیده‌اید که شخصی خود را به عنوان یک INTJ یا ESTP توصیف کرده باشد و شما معنی آن را ندانید؟ آنچه که این افراد می گویند، نوع شخصیت آن‌ها بر اساس شاخص تست مایرز-بریگز یا به اختصار، تست MBTI است.

        تست MBTI، یک پرسش‌نامه روان‌سنجی فردی است که برای شناسایی نوع شخصیت، نقاط قوت و اولویت‌های افراد طراحی شده است. این تست توسط ایزابل مایرز (Isabel Myers) و مادرش کاترین بریگز (Katherine Briggs) و بر اساس کارشان بر روی تئوری کارل یونگ (Carl Jung) درمورد انواع شخصیت تهیه شده است.
        
        امروزه، تست MBTI به‌عنوان یکی از از پرکاربردترین ابزارهای روان‌شناسی در دنیا شناخته می‌شود.
    </div>
  </div>

{% endblock content %}