<!DOCTYPE html>
<html lang="en" dir="rtl" lang="fa">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/survey-app.css' %}">
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <title>نظرسنجی</title>
</head>

{% load static %}
<body>

    {% block content %}
    {% endblock content %}

</body>
</html>